.container {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    background: rgb(61, 120, 98);
    border-radius: 2px;
    transform: translate(-50%, -50%);
    margin: 10px;
  }
  
  h1{
    color: aliceblue;
    text-align: center;
  }
  
  .box input {
    margin: 5px;
    padding: 10px;
  }
  
  #btn {
    padding: 10px 20px;
    margin: 5px;
    background-color: grey;
    color: yellow;
  }
  
  #btn:hover {
    border-color: #ffa260;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.2em #ffa260;
    cursor: pointer;
    transform: translateX(20px);
    transition: 2s;
  }
  
  #forgot-password {
    margin: 20px;
    padding: 5px;
    color: bisque;
    text-decoration: none;
  }
  
  #signup{
    margin: 20px;
    padding: 5px;
    color: beige;
    list-style: none;
    text-decoration: none;
  }
  